@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --fern: #66BB6A;
  --btn-bs: 1px 10px 30px -10px rgba(102, 187, 106, 1);
  --outer-space: #263238;
  --alabaster: #f7f7f7;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Chivo', sans-serif;
  font-size: 1.6rem;
  color: var(--black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--black);
}

img {
  width: 100%;
  max-width: 100%;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
  max-width: 144rem;
  margin: 0 auto;
}

.w-120 {
  max-width: 120rem;
}

.w-105 {
  max-width: 105rem;
}

.btn {
  border-radius: .5rem;
  padding: 1.2rem;
}

/*Header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__nav {
  padding: 2rem 1.5rem;
  margin: auto;
  display: flex;
  align-items: center;
}

.header__logo {
  flex: 2;
}

.header__logo img {
  max-width: 12rem;
}

.header__menu {
  flex: 4;
  display: flex;
  grid-gap: 2.5rem;
}

.menu__link {
  cursor: pointer;
}

.menu__link.active {
  color: var(--fern);
  font-weight: bold;
}

.header__signup {
  flex: 4;
  display: flex;
  justify-content: flex-end;
}

.btn__signup {
  border: 1px solid var(--white);
  font-size: 1.6rem;
  color: var(--white);
}

.hero {
  margin: auto;
  height: 100vh;
}

.hero__content {
  display: flex;
}

.hero__text {
  margin-top: 10rem;
  max-width: 50rem;
}

.hero__title {
  font-size: 4.6rem;
}

.hero__description {
  font-size: 1.8rem;
  margin: 2.5rem 0 5rem;
  color: var(--outer-space);
}

.btn__invest {
  background-color: var(--fern);
  color: var(--white);
  font-size: 1.8rem;
  box-shadow: var(--btn-bs);
}

.hero__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.hero__img img {
  max-height: 100vh;
  width: initial;
}

/*End Header */
/*Opportunities*/
.opportunities {
  position: relative;
}

.opportunities__img {
  position: absolute;
  left: -1.5rem;
  top: -16rem;
  z-index: -1;
}

.opportunities__img img {
  max-height: 55rem;
  max-width: 16rem;
}

.opportunities__content {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  border-bottom: 2px solid var(--alabaster);
  margin-bottom: 4rem;
}

.opportunities__head {
  text-align: center;
  max-width: 70rem;
  margin: 0 auto 10rem;
}

.opportunities__title {
  font-size: 3.6rem;
  color: var(--black);
}

.opportunities__description {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--outer-space);
}

.opportunities__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-template-rows: 32rem;
  grid-gap: 2.5rem;
}

.opportunity {
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: 0 2px 8px rgba(27, 31, 35, 0.15);
  padding: 5rem 2.5rem 2.5rem;
}

.opportunity.active {
  background-color: var(--fern);
}

.opportunity.active .opportunity__title,
.opportunity.active .opportunity__description {
  color: var(--white);
}

.opportunity__icon {
  max-height: 5.6rem;
  width: initial;
}

.opportunity__title {
  font-size: 1.8rem;
  color: var(--outer-space);
  margin: 2.5rem 0;
}

.opportunity__description {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--outer-space);
}

/*End Opportunities*/
/*# sourceMappingURL=main.css.map */